body{
    background-color: rgb(150, 60, 7);
    color:rgb(247, 255, 255)
}
strong{
    color:rgb(247, 255, 255);
}
h1{
    margin: 20px;
    padding: 10px;
    text-align: center;
    font-size: 36px;
    color: rgb(230, 164, 79);
}
img{
    position: left;
    top: 50px;
    left: 50px;
    right: 50px;
}
.central{
    display: flex;
    justify-content: center;
align-items: center;
height: 100vh;
flex-direction: column;
}
