body{
    background-color: rgb(255, 255, 255);
    color:darkslategrey
}
strong{
    color:rgb(253, 253, 253);
}
h1{
    margin: 20px;
    padding: 10px;
    text-align: center;
    font-size: 36px;
    color: aqua;
}
img{
    position: left;
    top: 50px;
    left: 50px;
    right: 50px;
}
