body{
    background-color: rgb(255, 255, 255);
    color:rgb(247, 255, 255)
}
strong{
    color:rgb(172, 94, 6);
}
h1{
    margin: 20px;
    padding: 10px;
    text-align: center;
    font-size: 36px;
    color: rgb(231, 155, 54);
}
img{
    position: left;
    top: 50px;
    left: 50px;
    right: 50px;
}
